

.input-container {
  background-image: url('https://th.bing.com/th/id/OIP.hQbZdct17b80Lqsz8L0WEAHaEK?w=268&h=184&c=7&r=0&o=5&dpr=1.4&pid=1.7'); 
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  width: 1170px; 
  height: 250px;
}

.cmp-banner__item-output {
font-family: monospace;
font-size: 20px;
font-style: normal;
}