<div class="custom-component">
    <div class="left-side">
        <img src="${properties.imageLeft}" alt="Left Image"/>
        <div class="text-box">
        <p>${properties.text1}</p>
        <h2>${properties.text2}</h2>
        <h3>${properties.text3}</h3>
        </div>
    </div>
    <div class="right-side">
        <div class="image-top">
            <img src="${properties.imageTop}" alt="Top Image"/>
            <div class="text-box">
            <p>${properties.text4}</p>
            <h2>${properties.text5}</h2>
            <h3>${properties.text6}</h3>
            </div>
        </div>
        <div class="image-bottom">
            <img src="${properties.imageBottom}" alt="Bottom Image"/>
            <div class="text-box">
            <p>${properties.text7}</p>
            <h2>${properties.text8}</h2>
            <h3>${properties.text9}</h3>
            </div>
            
        </div>
    </div>
</div>