<!-- <div class="credit-card" data-sly-use.model="com.adobe.capgemini.website.core.models.CreditCardModel">
    <p>${model.title}</p>
    <img src="${model.image}" alt="Content Image" class="card-image" data-sly-test="${model.image}" />
    <p>${model.information}</p>
    <p>${model.expiry}</p>
    <p>${model.dateyear}</p>
    <p>${model.name}</p>
    <div class="img2">
        <img src="${model.image1}" alt="Additional Content Image" class="card-image"/>
    </div>
</div> -->
<div class="credit-card" data-sly-use.model="com.adobe.capgemini.website.core.models.CreditCardModel">
    <p>${model.title}</p>
    <img src="${model.image}" alt="Content Image" class="card-image" data-sly-test="${model.image}" />
    <p>${model.information}</p>
    <p>${model.expiry}</p>
    <p>${model.dateyear}</p>
    <p>${model.name}</p>
    <div class="img2">
        <img src="${model.image1}" alt="Additional Content Image" class="card-image"/>
    </div>
</div>
